---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [5]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import os 
path = r'E:\career\Dataa\Applied Data Science with Python Specialization\01.Introduction to Data Science in Python'
os.chdir(path)

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [18]:
pd.options.display.max_rows = 999

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [19]:
#price_ratio=quarter_before_recession/recession_bottom
housing  = pd.read_csv('City_Zhvi_AllHomes.csv')
housing.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [20]:
gdp = pd.read_excel('gdplev.xls' , header = 5)
gdp.head(200)

,Unnamed: 0,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,Unnamed: 3,Unnamed: 4,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1929.0,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
3,1930.0,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
4,1931.0,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
5,1932.0,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
6,1933.0,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN
7,1934.0,66.8,862.2,NaN,1948q2,272.9,2021.9,NaN
8,1935.0,74.3,939.0,NaN,1948q3,279.5,2033.2,NaN
9,1936.0,84.9,1060.5,NaN,1948q4,280.7,2035.3,NaN
10,1937.0,93.0,1114.6,NaN,1949q1,275.4,2007.5,NaN
11,1938.0,87.4,1077.7,NaN,1949q2,271.7,2000.8,NaN
12,1939.0,93.5,1163.6,NaN,1949q3,273.3,2022.8,NaN
13,1940.0,102.9,1266.1,NaN,1949q4,271.0,2004.7,NaN
14,1941.0,129.4,1490.3,NaN,1950q1,281.2,2084.6,NaN
15,1942.0,166.0,1771.8,NaN,1950q2,290.7,2147.6,NaN
16,1943.0,203.1,2073.7,NaN,1950q3,308.5,2230.4,NaN
17,1944.0,224.6,2239.4,NaN,1950q4,320.3,2273.4,NaN
18,1945.0,228.2,2217.8,NaN,1951q1,336.4,2304.5,NaN
19,1946.0,227.8,1960.9,NaN,1951q2,344.5,2344.5,NaN
20,1947.0,249.9,1939.4,NaN,1951q3,351.8,2392.8,NaN
21,1948.0,274.8,2020.0,NaN,1951q4,356.6,2398.1,NaN
22,1949.0,272.8,2008.9,NaN,1952q1,360.2,2423.5,NaN
23,1950.0,300.2,2184.0,NaN,1952q2,361.4,2428.5,NaN
24,1951.0,347.3,2360.0,NaN,1952q3,368.1,2446.1,NaN
25,1952.0,367.7,2456.1,NaN,1952q4,381.2,2526.4,NaN
26,1953.0,389.7,2571.4,NaN,1953q1,388.5,2573.4,NaN
27,1954.0,391.1,2556.9,NaN,1953q2,392.3,2593.5,NaN
28,1955.0,426.2,2739.0,NaN,1953q3,391.7,2578.9,NaN
29,1956.0,450.1,2797.4,NaN,1953q4,386.5,2539.8,NaN
30,1957.0,474.9,2856.3,NaN,1954q1,385.9,2528.0,NaN
31,1958.0,482.0,2835.3,NaN,1954q2,386.7,2530.7,NaN
32,1959.0,522.5,3031.0,NaN,1954q3,391.6,2559.4,NaN
33,1960.0,543.3,3108.7,NaN,1954q4,400.3,2609.3,NaN
34,1961.0,563.3,3188.1,NaN,1955q1,413.8,2683.8,NaN
35,1962.0,605.1,3383.1,NaN,1955q2,422.2,2727.5,NaN
36,1963.0,638.6,3530.4,NaN,1955q3,430.9,2764.1,NaN
37,1964.0,685.8,3734.0,NaN,1955q4,437.8,2780.8,NaN
38,1965.0,743.7,3976.7,NaN,1956q1,440.5,2770.0,NaN
39,1966.0,815.0,4238.9,NaN,1956q2,446.8,2792.9,NaN
40,1967.0,861.7,4355.2,NaN,1956q3,452.0,2790.6,NaN
41,1968.0,942.5,4569.0,NaN,1956q4,461.3,2836.2,NaN
42,1969.0,1019.9,4712.5,NaN,1957q1,470.6,2854.5,NaN
43,1970.0,1075.9,4722.0,NaN,1957q2,472.8,2848.2,NaN
44,1971.0,1167.8,4877.6,NaN,1957q3,480.3,2875.9,NaN
45,1972.0,1282.4,5134.3,NaN,1957q4,475.7,2846.4,NaN
46,1973.0,1428.5,5424.1,NaN,1958q1,468.4,2772.7,NaN
47,1974.0,1548.8,5396.0,NaN,1958q2,472.8,2790.9,NaN
48,1975.0,1688.9,5385.4,NaN,1958q3,486.7,2855.5,NaN
49,1976.0,1877.6,5675.4,NaN,1958q4,500.4,2922.3,NaN
50,1977.0,2086.0,5937.0,NaN,1959q1,511.1,2976.6,NaN
51,1978.0,2356.6,6267.2,NaN,1959q2,524.2,3049.0,NaN
52,1979.0,2632.1,6466.2,NaN,1959q3,525.2,3043.1,NaN
53,1980.0,2862.5,6450.4,NaN,1959q4,529.3,3055.1,NaN
54,1981.0,3211.0,6617.7,NaN,1960q1,543.3,3123.2,NaN
55,1982.0,3345.0,6491.3,NaN,1960q2,542.7,3111.3,NaN
56,1983.0,3638.1,6792.0,NaN,1960q3,546.0,3119.1,NaN
57,1984.0,4040.7,7285.0,NaN,1960q4,541.1,3081.3,NaN
58,1985.0,4346.7,7593.8,NaN,1961q1,545.9,3102.3,NaN
59,1986.0,4590.2,7860.5,NaN,1961q2,557.4,3159.9,NaN
60,1987.0,4870.2,8132.6,NaN,1961q3,568.2,3212.6,NaN
61,1988.0,5252.6,8474.5,NaN,1961q4,581.6,3277.7,NaN
62,1989.0,5657.7,8786.4,NaN,1962q1,595.2,3336.8,NaN
63,1990.0,5979.6,8955.0,NaN,1962q2,602.6,3372.7,NaN
64,1991.0,6174.0,8948.4,NaN,1962q3,609.6,3404.8,NaN
65,1992.0,6539.3,9266.6,NaN,1962q4,613.1,3418.0,NaN
66,1993.0,6878.7,9521.0,NaN,1963q1,622.7,3456.1,NaN
67,1994.0,7308.8,9905.4,NaN,1963q2,631.8,3501.1,NaN
68,1995.0,7664.1,10174.8,NaN,1963q3,645.0,3569.5,NaN
69,1996.0,8100.2,10561.0,NaN,1963q4,654.8,3595.0,NaN
70,1997.0,8608.5,11034.9,NaN,1964q1,671.1,3672.7,NaN
71,1998.0,9089.2,11525.9,NaN,1964q2,680.8,3716.4,NaN
72,1999.0,9660.6,12065.9,NaN,1964q3,692.8,3766.9,NaN
73,2000.0,10284.8,12559.7,NaN,1964q4,698.4,3780.2,NaN
74,2001.0,10621.8,12682.2,NaN,1965q1,719.2,3873.5,NaN
75,2002.0,10977.5,12908.8,NaN,1965q2,732.4,3926.4,NaN
76,2003.0,11510.7,13271.1,NaN,1965q3,750.2,4006.2,NaN
77,2004.0,12274.9,13773.5,NaN,1965q4,773.1,4100.6,NaN
78,2005.0,13093.7,14234.2,NaN,1966q1,797.3,4201.9,NaN
79,2006.0,13855.9,14613.8,NaN,1966q2,807.2,4219.1,NaN
80,2007.0,14477.6,14873.7,NaN,1966q3,820.8,4249.2,NaN
81,2008.0,14718.6,14830.4,NaN,1966q4,834.9,4285.6,NaN
82,2009.0,14418.7,14418.7,NaN,1967q1,846.0,4324.9,NaN
83,2010.0,14964.4,14783.8,NaN,1967q2,851.1,4328.7,NaN
84,2011.0,15517.9,15020.6,NaN,1967q3,866.6,4366.1,NaN
85,2012.0,16155.3,15354.6,NaN,1967q4,883.2,4401.2,NaN
86,2013.0,16691.5,15612.2,NaN,1968q1,911.1,4490.6,NaN
87,2014.0,17393.1,15982.3,NaN,1968q2,936.3,4566.4,NaN
88,2015.0,18036.6,16397.2,NaN,1968q3,952.3,4599.3,NaN
89,NaN,NaN,NaN,NaN,1968q4,970.1,4619.8,NaN
90,NaN,NaN,NaN,NaN,1969q1,995.4,4691.6,NaN
91,NaN,NaN,NaN,NaN,1969q2,1011.4,4706.7,NaN
92,NaN,NaN,NaN,NaN,1969q3,1032.0,4736.1,NaN
93,NaN,NaN,NaN,NaN,1969q4,1040.7,4715.5,NaN
94,NaN,NaN,NaN,NaN,1970q1,1053.5,4707.1,NaN
95,NaN,NaN,NaN,NaN,1970q2,1070.1,4715.4,NaN
96,NaN,NaN,NaN,NaN,1970q3,1088.5,4757.2,NaN
97,NaN,NaN,NaN,NaN,1970q4,1091.5,4708.3,NaN
98,NaN,NaN,NaN,NaN,1971q1,1137.8,4834.3,NaN
99,NaN,NaN,NaN,NaN,1971q2,1159.4,4861.9,NaN
100,NaN,NaN,NaN,NaN,1971q3,1180.3,4900.0,NaN
101,NaN,NaN,NaN,NaN,1971q4,1193.6,4914.3,NaN
102,NaN,NaN,NaN,NaN,1972q1,1233.8,5002.4,NaN
103,NaN,NaN,NaN,NaN,1972q2,1270.1,5118.3,NaN
104,NaN,NaN,NaN,NaN,1972q3,1293.8,5165.4,NaN
105,NaN,NaN,NaN,NaN,1972q4,1332.0,5251.2,NaN
106,NaN,NaN,NaN,NaN,1973q1,1380.7,5380.5,NaN
107,NaN,NaN,NaN,NaN,1973q2,1417.6,5441.5,NaN
108,NaN,NaN,NaN,NaN,1973q3,1436.8,5411.9,NaN
109,NaN,NaN,NaN,NaN,1973q4,1479.1,5462.4,NaN
110,NaN,NaN,NaN,NaN,1974q1,1494.7,5417.0,NaN
111,NaN,NaN,NaN,NaN,1974q2,1534.2,5431.3,NaN
112,NaN,NaN,NaN,NaN,1974q3,1563.4,5378.7,NaN
113,NaN,NaN,NaN,NaN,1974q4,1603.0,5357.2,NaN
114,NaN,NaN,NaN,NaN,1975q1,1619.6,5292.4,NaN
115,NaN,NaN,NaN,NaN,1975q2,1656.4,5333.2,NaN
116,NaN,NaN,NaN,NaN,1975q3,1713.8,5421.4,NaN
117,NaN,NaN,NaN,NaN,1975q4,1765.9,5494.4,NaN
118,NaN,NaN,NaN,NaN,1976q1,1824.5,5618.5,NaN
119,NaN,NaN,NaN,NaN,1976q2,1856.9,5661.0,NaN
120,NaN,NaN,NaN,NaN,1976q3,1890.5,5689.8,NaN
121,NaN,NaN,NaN,NaN,1976q4,1938.4,5732.5,NaN
122,NaN,NaN,NaN,NaN,1977q1,1992.5,5799.2,NaN
123,NaN,NaN,NaN,NaN,1977q2,2060.2,5913.0,NaN
124,NaN,NaN,NaN,NaN,1977q3,2122.4,6017.6,NaN
125,NaN,NaN,NaN,NaN,1977q4,2168.7,6018.2,NaN
126,NaN,NaN,NaN,NaN,1978q1,2208.7,6039.2,NaN
127,NaN,NaN,NaN,NaN,1978q2,2336.6,6274.0,NaN
128,NaN,NaN,NaN,NaN,1978q3,2398.9,6335.3,NaN
129,NaN,NaN,NaN,NaN,1978q4,2482.2,6420.3,NaN
130,NaN,NaN,NaN,NaN,1979q1,2531.6,6433.0,NaN
131,NaN,NaN,NaN,NaN,1979q2,2595.9,6440.8,NaN
132,NaN,NaN,NaN,NaN,1979q3,2670.4,6487.1,NaN
133,NaN,NaN,NaN,NaN,1979q4,2730.7,6503.9,NaN
134,NaN,NaN,NaN,NaN,1980q1,2796.5,6524.9,NaN
135,NaN,NaN,NaN,NaN,1980q2,2799.9,6392.6,NaN
136,NaN,NaN,NaN,NaN,1980q3,2860.0,6382.9,NaN
137,NaN,NaN,NaN,NaN,1980q4,2993.5,6501.2,NaN
138,NaN,NaN,NaN,NaN,1981q1,3131.8,6635.7,NaN
139,NaN,NaN,NaN,NaN,1981q2,3167.3,6587.3,NaN
140,NaN,NaN,NaN,NaN,1981q3,3261.2,6662.9,NaN
141,NaN,NaN,NaN,NaN,1981q4,3283.5,6585.1,NaN
142,NaN,NaN,NaN,NaN,1982q1,3273.8,6475.0,NaN
143,NaN,NaN,NaN,NaN,1982q2,3331.3,6510.2,NaN
144,NaN,NaN,NaN,NaN,1982q3,3367.1,6486.8,NaN
145,NaN,NaN,NaN,NaN,1982q4,3407.8,6493.1,NaN
146,NaN,NaN,NaN,NaN,1983q1,3480.3,6578.2,NaN
147,NaN,NaN,NaN,NaN,1983q2,3583.8,6728.3,NaN
148,NaN,NaN,NaN,NaN,1983q3,3692.3,6860.0,NaN
149,NaN,NaN,NaN,NaN,1983q4,3796.1,7001.5,NaN
150,NaN,NaN,NaN,NaN,1984q1,3912.8,7140.6,NaN
151,NaN,NaN,NaN,NaN,1984q2,4015.0,7266.0,NaN
152,NaN,NaN,NaN,NaN,1984q3,4087.4,7337.5,NaN
153,NaN,NaN,NaN,NaN,1984q4,4147.6,7396.0,NaN
154,NaN,NaN,NaN,NaN,1985q1,4237.0,7469.5,NaN
155,NaN,NaN,NaN,NaN,1985q2,4302.3,7537.9,NaN
156,NaN,NaN,NaN,NaN,1985q3,4394.6,7655.2,NaN
157,NaN,NaN,NaN,NaN,1985q4,4453.1,7712.6,NaN
158,NaN,NaN,NaN,NaN,1986q1,4516.3,7784.1,NaN
159,NaN,NaN,NaN,NaN,1986q2,4555.2,7819.8,NaN
160,NaN,NaN,NaN,NaN,1986q3,4619.6,7898.6,NaN
161,NaN,NaN,NaN,NaN,1986q4,4669.4,7939.5,NaN
162,NaN,NaN,NaN,NaN,1987q1,4736.2,7995.0,NaN
163,NaN,NaN,NaN,NaN,1987q2,4821.5,8084.7,NaN
164,NaN,NaN,NaN,NaN,1987q3,4900.5,8158.0,NaN
165,NaN,NaN,NaN,NaN,1987q4,5022.7,8292.7,NaN
166,NaN,NaN,NaN,NaN,1988q1,5090.6,8339.3,NaN
167,NaN,NaN,NaN,NaN,1988q2,5207.7,8449.5,NaN
168,NaN,NaN,NaN,NaN,1988q3,5299.5,8498.3,NaN
169,NaN,NaN,NaN,NaN,1988q4,5412.7,8610.9,NaN
170,NaN,NaN,NaN,NaN,1989q1,5527.4,8697.7,NaN
171,NaN,NaN,NaN,NaN,1989q2,5628.4,8766.1,NaN
172,NaN,NaN,NaN,NaN,1989q3,5711.6,8831.5,NaN
173,NaN,NaN,NaN,NaN,1989q4,5763.4,8850.2,NaN
174,NaN,NaN,NaN,NaN,1990q1,5890.8,8947.1,NaN
175,NaN,NaN,NaN,NaN,1990q2,5974.7,8981.7,NaN
176,NaN,NaN,NaN,NaN,1990q3,6029.5,8983.9,NaN
177,NaN,NaN,NaN,NaN,1990q4,6023.3,8907.4,NaN
178,NaN,NaN,NaN,NaN,1991q1,6054.9,8865.6,NaN
179,NaN,NaN,NaN,NaN,1991q2,6143.6,8934.4,NaN
180,NaN,NaN,NaN,NaN,1991q3,6218.4,8977.3,NaN
181,NaN,NaN,NaN,NaN,1991q4,6279.3,9016.4,NaN
182,NaN,NaN,NaN,NaN,1992q1,6380.8,9123.0,NaN
183,NaN,NaN,NaN,NaN,1992q2,6492.3,9223.5,NaN
184,NaN,NaN,NaN,NaN,1992q3,6586.5,9313.2,NaN
185,NaN,NaN,NaN,NaN,1992q4,6697.6,9406.5,NaN
186,NaN,NaN,NaN,NaN,1993q1,6748.2,9424.1,NaN
187,NaN,NaN,NaN,NaN,1993q2,6829.6,9480.1,NaN
188,NaN,NaN,NaN,NaN,1993q3,6904.2,9526.3,NaN
189,NaN,NaN,NaN,NaN,1993q4,7032.8,9653.5,NaN
190,NaN,NaN,NaN,NaN,1994q1,7136.3,9748.2,NaN
191,NaN,NaN,NaN,NaN,1994q2,7269.8,9881.4,NaN
192,NaN,NaN,NaN,NaN,1994q3,7352.3,9939.7,NaN
193,NaN,NaN,NaN,NaN,1994q4,7476.7,10052.5,NaN
194,NaN,NaN,NaN,NaN,1995q1,7545.3,10086.9,NaN
195,NaN,NaN,NaN,NaN,1995q2,7604.9,10122.1,NaN
196,NaN,NaN,NaN,NaN,1995q3,7706.5,10208.8,NaN
197,NaN,NaN,NaN,NaN,1995q4,7799.5,10281.2,NaN
198,NaN,NaN,NaN,NaN,1996q1,7893.1,10348.7,NaN
199,NaN,NaN,NaN,NaN,1996q2,8061.5,10529.4,NaN

In [8]:
os.listdir()

['.ipynb_checkpoints',
 'Assignment+2.ipynb',
 'Assignment+3.ipynb',
 'cars.csv',
 'census.csv',
 'City_Zhvi_AllHomes.csv',
 'Energy Indicators.xls',
 'Final.ipynb',
 'gdplev.xls',
 'grades.csv',
 'Introduction to Data Science in Python',
 'log.csv',
 'mpg.csv',
 'olympics.csv',
 'scimagojr-3.xlsx',
 'Sol',
 'university_towns.txt',
 'world_bank.csv']

In [ ]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return "ANSWER"

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"