---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [3]:
import os 
path = r'E:\career\Dataa\Applied Data Science with Python Specialization\01.Introduction to Data Science in Python'
os.chdir(path)

# by Abd-elrhman Mohey

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

#### energy data
1. Load the energy data from the file Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to 

2. exclude the footer and

3. exclude the header 

information from the datafile. 

4. The first two columns are unneccessary, so you should get rid of them, 

5. and you should change the column labels so that the columns are:
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

6. Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule). 

7. For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

8. Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

9. There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these,

e.g.

10. 'Bolivia (Plurinational State of)' should be 'Bolivia',

11. 'Switzerland17' should be 'Switzerland'.

In [114]:
# pd.set_option('display.max_rows', None)

In [6]:
import pandas as pd
import numpy as np

In [120]:
# #import 

# import pandas as pd
# import numpy as np


# #load the data 
# energy = pd.read_excel('Energy Indicators.xls',skipfooter = 1 , header=None , usecols = "C:Z")

# #rename the columns
# energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# #adjucst the supply
# energy['Energy Supply'] *= 1000000

# #rename the countreis 

# energycountrynames= {"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong",'Switzerland17': 'Switzerland'}

# for k in energycountrynames:
#     energy['Country'] = energy['Country'].str.replace(k, energycountrynames[k])

# # Remove contents within parenthesis.
# energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '') 

# # Remove digits from names
# energy['Country'] = energy['Country'].str.replace('\d+', '') 

# #remove the unwanted .....
# for col in energy:
#     energy[col] = energy[col].replace('...',np.nan)

# #drop na
# energy.dropna(inplace = True)

# #drop the index 9 the header i geuss 
# energy.drop(index = 9, inplace = True)

# #drop duplicate 
# energy.drop_duplicates(inplace = True)

# energy

### GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

In [121]:
# #import the data
# gdp = pd.read_csv('world_bank.csv', header=4)

# #rename the country
# GDPcountrynames = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}

# for k in GDPcountrynames:
#     energy['Country'] = energy['Country'].str.replace(k, GDPcountrynames[k])
# #rename the column name 
# gdp.rename(columns={'Country Name':'Country'}, inplace = True)

# #subset the needed columns only 
# gdp.drop(gdp.iloc[:,1:50], axis=1, inplace = True)
# gdp

### Sciamgo
1. load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

In [122]:
# ScimEn = pd.read_excel('scimagojr-3.xlsx')
# ScimEn

In [127]:
def answer_one():
    #import 

    import pandas as pd
    import numpy as np


    #load the data 
    energy = pd.read_excel('Energy Indicators.xls',skipfooter = 1 , header=None , usecols = "C:Z")

    #rename the columns
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    #adjucst the supply
    energy['Energy Supply'] *= 1000000

    #rename the countreis 

    energycountrynames= {"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong",'Switzerland17': 'Switzerland'}

    for k in energycountrynames:
        energy['Country'] = energy['Country'].str.replace(k, energycountrynames[k])

    # Remove contents within parenthesis.
    energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '') 

    # Remove digits from names
    energy['Country'] = energy['Country'].str.replace('\d+', '') 

    #remove the unwanted .....
    for col in energy:
        energy[col] = energy[col].replace('...',np.nan)

    #drop na
    energy.dropna(inplace = True)

    #drop the index 9 the header i geuss 
    energy.drop(index = 9, inplace = True)

    #drop duplicate 
    energy.drop_duplicates(inplace = True)

    #import the data
    gdp = pd.read_csv('world_bank.csv', header=4)

    #rename the country
    GDPcountrynames = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}

    for k in GDPcountrynames:
        energy['Country'] = energy['Country'].str.replace(k, GDPcountrynames[k])
    #rename the column name 
    gdp.rename(columns={'Country Name':'Country'}, inplace = True)

    #subset the needed columns only 
    gdp.drop(gdp.iloc[:,1:50], axis=1, inplace = True)

    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    merged = pd.merge(ScimEn,energy,how='outer',left_on='Country',right_on='Country')
    final = pd.merge(merged,gdp,how='outer',left_on='Country',right_on='Country')
    final = final.iloc[0:15]
    return final

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [128]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [135]:
def answer_two():
    #import 

    import pandas as pd
    import numpy as np


    #load the data 
    energy = pd.read_excel('Energy Indicators.xls',skipfooter = 1 , header=None , usecols = "C:Z")

    #rename the columns
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    #adjucst the supply
    energy['Energy Supply'] *= 1000000

    #rename the countreis 

    energycountrynames= {"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong",'Switzerland17': 'Switzerland'}

    for k in energycountrynames:
        energy['Country'] = energy['Country'].str.replace(k, energycountrynames[k])

    # Remove contents within parenthesis.
    energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '') 

    # Remove digits from names
    energy['Country'] = energy['Country'].str.replace('\d+', '') 

    #remove the unwanted .....
    for col in energy:
        energy[col] = energy[col].replace('...',np.nan)

    #drop na
    energy.dropna(inplace = True)

    #drop the index 9 the header i geuss 
    energy.drop(index = 9, inplace = True)

    #drop duplicate 
    energy.drop_duplicates(inplace = True)

    #import the data
    gdp = pd.read_csv('world_bank.csv', header=4)

    #rename the country
    GDPcountrynames = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}

    for k in GDPcountrynames:
        energy['Country'] = energy['Country'].str.replace(k, GDPcountrynames[k])
    #rename the column name 
    gdp.rename(columns={'Country Name':'Country'}, inplace = True)

    #subset the needed columns only 
    gdp.drop(gdp.iloc[:,1:50], axis=1, inplace = True)

    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    num_outer = len(pd.concat([ScimEn['Country'],energy['Country'],gdp['Country']]).unique())
    
    num_inter = (gdp.merge(energy, left_on='Country', right_on='Country', how='inner').merge(ScimEn, left_on='Country', right_on='Country', how='inner').shape[0])
    
    return num_outer - num_inter
answer_two()

166

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [188]:
def answer_three():
    
    import pandas as pd
    Top15 = answer_one()
    Top15.set_index('Country', inplace = True)
    #Top15.columns = Top15.columns.astype(str) # Turn year column names from numbers to string so you can call it.
    
    Top15 = Top15.iloc[:,10:] # Cut out all columns except the years.
    avgGDP = Top15.mean(axis=1)
    return avgGDP.sort_values(ascending=False)

answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea                    NaN
Iran                           NaN
dtype: float64

In [185]:
Top15 = answer_one()
Top15.set_index('Country',inplace=True)
years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
GDP = Top15[years]
ass = GDP.mean(axis=1)
assd = pd.DataFrame(ass)
assd = assd.sort_values(by = 0 ,ascending=False)
assd

                               0
Country
United States       1.536434e+13
China               6.348609e+12
Japan               5.542208e+12
Germany             3.493025e+12
France              2.681725e+12
United Kingdom      2.487907e+12
Brazil              2.189794e+12
Italy               2.120175e+12
India               1.769297e+12
Canada              1.660647e+12
Russian Federation  1.565459e+12
Spain               1.418078e+12
Australia           1.164043e+12
South Korea                  NaN
Iran                         NaN

In [173]:
def answer_three():
    Top15 = answer_one()
    years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    GDP = Top15[years]
    avgGDP = GDP.mean(axis=1)
    avgGDP.name='avgGDP'
    ans = avgGDP.sort_values(ascending=False)
    return ans
answer_three()

1     1.536434e+13
0     6.348609e+12
2     5.542208e+12
6     3.493025e+12
8     2.681725e+12
3     2.487907e+12
14    2.189794e+12
10    2.120175e+12
7     1.769297e+12
5     1.660647e+12
4     1.565459e+12
11    1.418078e+12
13    1.164043e+12
9              NaN
12             NaN
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    return "ANSWER"

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [ ]:
def answer_five():
    Top15 = answer_one()
    return "ANSWER"

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    Top15 = answer_one()
    return "ANSWER"

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [ ]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!